<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/base}">
<head>
    <meta charset="UTF-8">
    <title>Notice List</title>
</head>
<body>

<div layout:fragment="content">
    <h2>Notice List</h2>

    <!-- 공지사항 목록 -->
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>No.</th>
            <th>Title</th>
            <th>Writer</th>
            <th>Created Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="noticeDTO : ${responseDTO.dtoList}">
            <td th:text="${noticeDTO.cd}"></td>
            <td><a th:href="@{/cafe/notice/read(cd=${noticeDTO.cd})}" th:text="${noticeDTO.title}">Read</a></td>
            <td th:text="${noticeDTO.writer}"></td>
            <td th:text="${#dates.format(noticeDTO.dateCreated, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>

    <!-- 페이지네이션 -->
    <div th:if="${responseDTO.total > 0}">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${responseDTO.page > 1 ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{/cafe/notice/list(page=${responseDTO.page - 1})}">Previous</a>
                </li>

                <li th:each="pageNum : ${#numbers.sequence(responseDTO.start, responseDTO.end)}" class="page-item" th:classappend="${responseDTO.page == pageNum ? 'active' : ''}">
                    <a class="page-link" th:href="@{/cafe/notice/list(page=${pageNum})}" th:text="${pageNum}"></a>
                </li>

                <li class="page-item" th:classappend="${responseDTO.page < responseDTO.end ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{/cafe/notice/list(page=${responseDTO.page + 1})}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

</body>
</html>
