<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/base}">
<head>
    <meta charset="UTF-8">
    <title>Notice Detail</title>
</head>
<body>

<div layout:fragment="content">
    <p><strong>Title:</strong> <span th:text="${noticeDTO.title}"></span></p>
    <p><strong>Content:</strong> <span th:text="${noticeDTO.content}"></span></p>
    <p><strong>Writer:</strong> <span th:text="${noticeDTO.writer}"></span></p>
</div>

</body>
</html>
